@use 'base/variables' as v;
@use  'base/mixins' as m;

.bar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav-active {
        position: relative;
        z-index: 100;
    }

    @include m.tablet {
        padding: 5rem 0;
    }
    &__logo {
        margin: 0;
        color: v.$blanco;
        font-size: 2.5rem;

        @include m.tablet {
            font-size: 3rem;
        }
    }

    &__img {

        @include m.tablet {
            display: none;
        }
        &--hidden {
            display: none;
        }
    }
}